<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet'/>    
  </head>
  <body id="{% block bodyId %}genericPage{% endblock %}">
    
    
    <div class="container" >
      <div class="masthead">
        <h3 class="text-muted">Projet Entreprises</h3>
        <ul class="nav nav-justified">
          <li><a href="https://docs.djangoproject.com/fr/1.7/">Django</a></li>
          <li><a href="http://localhost:8000/admin/">Admin</a></li>
        </ul>
      </div>
    <div class="container">
      <header class="row">
        <div class="span12">
          <h2 id="name">Liste des Entreprises </h2>
        </div>
      </header>
    </div>    
    
    <section>
      {% block content %}
      {% endblock %}
    </section>
    <div class="container">
        <footer class="row">
              <div class="span12">
                <em>
                      Copyright Titi 2014
                </em>
              </div>
        </footer>
    </div>
  </body>
</html>
