{% extends 'base.html' %}
{% block title %}{{ block.super }} | Entreprises{% endblock %}
{% block content %}

	<h1>Entreprise {{ entreprise.nom }}</h1>

	<p><strong>Nom :</strong>			{{ entreprise.nom }}</p>
	<p><strong>Adresse :</strong>		{{ entreprise.adresse }}</p>
	<p><strong>Code postal :</strong>	{{ entreprise.codePostal }}</p>
	<p><strong>Ville :</strong>			{{ entreprise.ville }}</p>
	<p><strong>Pays :</strong>			{{ entreprise.pays }}</p>
	<p><strong>Téléphone :</strong>		{{ entreprise.telephone }}</p>
	<p><strong>Latitude :</strong>		{{ entreprise.latitude }}</p>
	<p><strong>Longitude :</strong>		{{ entreprise.longitude }}</p>

	<p>
		<a href="{% url 'entreprises:modif' entreprise_id=entreprise.id %}" class="btn btn-primary"> Modifier</a>
		<a href="{% url 'entreprises:delete' entreprise_id=entreprise.id %}" class="btn btn-danger"> Supprimer</a>
	</p>
	<p><a href="{% url 'entreprises:geolocal' entreprise_id=entreprise.id %}"> Géolocaliser</a> (le chargement peut être long)</p>

	<a href="{% url 'entreprises:index'%}" class="btn btn-default"> Retour à la liste</a>

{% endblock %}
