{% extends 'base.html' %}
{% block title %}{{ block.super }} | Entreprises{% endblock %}
{% block content %}

<ul class="pager">

	{% if page.has_previous %}
	<li class="previous">
		<a href="{% url 'entreprises:index-page' page=page.previous_page_number %}"> &larr; Préc.</a>
	</li>
	{%endif%}
	{%if page.has_next %}
	<li class="next">
		<a href="{% url 'entreprises:index-page' page=page.next_page_number %}"> Suiv. &rarr;</a>
	</li>
	{%endif%}
</ul>

<table class="table table-striped table-bordered" style="cursor:pointer;">
	{% for entreprise in entreprises %}
	<tr>
		<td>{{ entreprise.nom }}</td>
		<td>{{ entreprise.codePostal }} {{ entreprise.ville }}</td>
		<td>{{ entreprise.pays }}</td>
		<td><a href="{% url 'entreprises:fiche' entreprise_id=entreprise.id %}"> Détails</a></td>
		<td><a href="{% url 'entreprises:delete' entreprise_id=entreprise.id %}"> Supprimer</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}