{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% block title %}Gestion de stage{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<nav class="navbar navbar-inverse">
		{% block nav %}
			<div class="container">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'entreprises:index' %}">Entreprises</a></li>
						<li><a href="{% url 'entreprises:ajout' %}">Ajouter une Entreprise</a></li>
					</ul>	
				</div><!--/.navbar-collapse -->
			</div>
		{% endblock %}
	</nav>
	

	<section class="container">
		{% block content %}{% endblock %}

	</section> <!-- /container -->



	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	{% block js %}{% endblock %}
	
</body>
</html>
